/*
Default buttons
*/

.default-cta {
  font-size: 30px;
  display: inline-block;
  padding: 28px 35px;
  color: $color-3;
  background-color: $color-2;
  border: 2px solid $color-3;
  border-radius: 100px;
  cursor: pointer;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
  @media (max-width: $xxxl) {
    font-size: 16px;
    padding: 12px 22px;
  }
  &:hover {
    color: $color-2;
    background-color: $color-3;
  }
  &--red {
    color: $color-2;
    background-color: $color-3;
    &:hover {
      color: $color-3;
      background-color: $color-2;
      border: 2px solid $color-3;
    }
  }
  &--green{
    color: $color-2;
    background-color: $color-10;
    border-color:$color-10;
    &:hover {
      color: $color-10;
      background-color: $color-2;
    }
  }
}


/*
Custom checkboxes
*/

.checkbox {
  display: block;
  position: relative;
  padding-left: 57px;
  cursor: pointer;
  font-size: 28px;
  line-height: 1.35714;
  user-select: none;
  background-color: $color-2;
  @media (max-width: $xxxl) {
    padding-left: 27px;
    font-size: 17px;
  }
  @media (max-width: $md) {
    font-size: 14px;
  }
}

.checkbox .checkbox__input {
  position: absolute;
  opacity: 0;
}

.checkbox__span {
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 12px;
  border: 2px solid $color-3;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  transition: background-color .3s ease-in-out;
  @media (max-width: $xxxl) {
    width: 18px;
    height: 18px;
    border-radius: 5px;
  }
  .search-bar__drop-down-col--green & {
    border: 2px solid $color-10;
  }
}

.checkbox:hover .checkbox__input ~ .checkbox__span {

}

.checkbox .checkbox__input:checked ~ .checkbox__span {
  background-color: $color-3;
  .search-bar__drop-down-col--green & {
    background-color: $color-10;
  }
}

.checkbox__span:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox .checkbox__input:checked ~ .checkbox__span:after {
  opacity: 1;
}

.checkbox .checkbox__span:after {
  display: block;
  opacity: 0;
  top: 6px;
  left: 5px;
  width: 24px;
  height: 22px;
  background: url("../img/ok-white.svg") no-repeat center/contain;
  transition: opacity .3s ease-in-out;
  @media (max-width: $xxxl) {
    top: 1px;
    left: 2px;
    width: 11px;
    height: 11px;
  }
}


/*
Burger button
*/

.burger-btn {
  width: 30px;
  height: 20px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.burger-btn span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: $color-3;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger-btn span:nth-child(1) {
  top: 0px;
}

.burger-btn span:nth-child(2), .burger-btn span:nth-child(3) {
  top: 8px;
}

.burger-btn span:nth-child(4) {
  top: 16px;
}

.burger-btn.open span{
  background: $color-2;
}

.burger-btn.open span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}

.burger-btn.open span:nth-child(2) {
  transform: rotate(45deg);
}

.burger-btn.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.burger-btn.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}