.footer {
  padding: 202px 0 155px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: $color-1;
  color: rgba(254, 254, 254, .6);
  @media (max-width: $xxxl) {
    padding: 100px 0 75px;
  }
  @media (max-width: $lg) {
    position: relative;
  }
  @media (max-width: $md) {
    padding: 70px 0;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    @media (max-width: $xxxl) {
      flex-wrap: wrap;
    }
  }
  &__col {
    &--nav {
      width: 52%;
      max-width: 1200px;
      @media (max-width: $xxxl) {
        width: 50%;
      }
      @media (max-width: $md) {
        max-width: unset;
        width: 100%;
      }
    }
    &--socials {
      width: 48%;
      max-width: 1000px;
      padding-left: 60px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (max-width: $xxxl) {
        width: 50%;
        padding-left: 30px;
      }
      @media (max-width: $md) {
        width: 100%;
        max-width: 350px;
        padding: 0;
        margin: 0 auto;
      }
    }
  }
  &__nav-header, &__nav-body {
    display: flex;
  }
  &__nav-body {
    @media (max-width: $md) {
      flex-wrap: wrap;
      max-width: 350px;
      margin: 0 auto 30px;
    }
  }
  &__nav-header {
    padding-top: 25px;
    padding-bottom: 50px;
    @media (max-width: $xxxl) {
      padding-bottom: 25px;
    }
    @media (max-width: $md) {
      display: none;
    }
  }
  &__nav-col {
    padding-right: 40px;
    width: 33.3%;
    @media (max-width: $xxxl) {
      padding-right: 20px;
    }
    @media (max-width: $md) {
      padding: 0;
      width: 100%;
      margin: 0 0 20px;
      text-align: center;
    }
  }
  &__nav-title {
    text-transform: uppercase;
    font-size: 20px;
    color: rgba(254, 254, 254, .2);
    @media (max-width: $xxxl) {
      font-size: 10px;
    }
    &--mobile {
      display: none;
      margin-bottom: 15px;
      @media (max-width: $md) {
        display: block;
      }
    }
  }
  &__nav {
    ul {

    }
    li {
      margin-bottom: 28px;
      @media (max-width: $xxxl) {
        margin-bottom: 15px;
      }
      @media (max-width: $md) {
        margin-bottom: 7px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  a{
    transition: color .3s ease-in-out;
    &:hover{
      color: $color-7;
    }
  }
}

.socials-list {
  display: flex;
  margin-bottom: 50px;
  @media (max-width: $xxxl) {
    margin-bottom: 25px;
  }
  @media (max-width: $md) {
    justify-content: center;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &__item {
    position: relative;
    margin-right: 19px;
    opacity: .3;
    transition: opacity .3s ease-in-out;
    @media (max-width: $xxxl) {
      margin-right: 10px;
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      opacity: 1;
    }
    a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__icon {
    height: 90px;
    @media (max-width: $xxxl) {
      height: 40px;
    }
  }
}

.subscribe {
  &__title {
    margin-bottom: 5px;
    font-size: 23px;
    color: $color-7;
    text-transform: uppercase;
    @media (max-width: $xxxl) {
      margin-bottom: 2px;
      font-size: 10px;
    }
    @media (max-width: $md) {
      text-align: center;
    }
  }
  &__form {
    height: 97px;
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(241, 184, 40, .2);
    @media (max-width: $xxxl) {
      height: 50px;
    }
    @media (max-width: $md) {
      height: 40px;
      max-width: 200px;
      margin: 0 auto;
    }

  }
  &__form-input {
    height: 100%;
    width: 100%;
    padding-right: 40px;
    font-size: 34px;
    font-weight: 300;
    color: rgba(254, 254, 254, .6);
    @media (max-width: $xxxl) {
      padding-right: 20px;
      font-size: 16px;
    }
    &::placeholder {
    }
    &:focus::placeholder {
      opacity: 0;
    }
  }
  &__form-submit {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 57px;
    background: url("../img/cta-arrow-orange.svg") no-repeat 100% 50%;
    background-size: 57px 11px;
    transition: transform .6s cubic-bezier(.68, -1.09, .33, 1.79);
    cursor: pointer;
    @media (max-width: $xxxl) {
      width: 37px;
      background-size: 37px 8px;
    }
    &:hover {
      transform: translateX(-10%) scale(1.2);
    }
  }
  &__form-message {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: calc(100% + 10px);
    font-weight: 400;
    font-size: 20px;
    @media (max-width: $xxxl) {
      top: calc(100% + 5px);
      font-size: 12px;
    }
    @media (max-width: $md) {
      text-align: center;
      font-size: 10px;
    }
    &--success{
      color: $color-9;
      .success &{
        display: block;
      }
    }
    &--error{
      color: $color-2;
      .error &{
        display: block;
      }
    }
  }
}