.footer {
  padding: 202px 0 155px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: $color-1;
  color: rgba(254, 254, 254, .6);
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__col {
    width: 50%;
    &--nav {
      max-width: 1200px;
    }
    &--socials {
      max-width: 1000px;
      padding-left: 60px;
    }
  }
  &__nav-header {
    padding-bottom: 51px;
  }
  &__nav-header, &__nav-body {
    display: flex;
  }
  &__nav-col {
    padding-right: 40px;
    width: 33.3%;
  }
  &__nav-title {
    font-size: 20px;
    &--mobile {
      display: none;
    }
  }
  &__nav {
    ul {

    }
    li {
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.socials-list {
  display: flex;
  margin-bottom: 89px;
  &:last-child {
    margin-bottom: 0;
  }
  &__item {
    position: relative;
    margin-right: 19px;
    opacity: .3;
    transition: opacity .3s ease-in-out;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      opacity: 1;
    }
    a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__icon {
    height: 90px;
  }
}

.subscribe {
  &__title {
    margin-bottom: 5px;
    font-size: 20px;
    color: $color-7;
    text-transform: uppercase;
  }
  &__form {
    height: 97px;
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(241,184,40,.2);
  }
  &__form-input {
    height: 100%;
    width: calc(100% - 100px);
    font-size: 34px;
    font-weight: 300;
    color: rgba(254, 254, 254, .6);
    &::placeholder {
      //font-size: 34px;
      //font-weight: 300;
      //color: rgba(254, 254, 254, .6);
    }
    &:focus::placeholder {
      opacity: 0;
    }
  }
  &__form-submit {
    height: 100%;
    width: 57px;
    background: url("../img/cta-arrow-orange.svg") no-repeat 100% 50%;
    background-size: 57px 11px;
    transition: transform .6s cubic-bezier(.68, -1.09, .33, 1.79);
    cursor: pointer;
    &:hover{
      transform: scale(1.15);
    }
  }
  &__form-message{
    display: none;
  }
}