.container {
  width: 100%;
  margin: 0 auto;
  max-width: 2340px;

  @media (max-width: $xxxl) {
    max-width: 1200px;
  }

  @media (max-width: $lg) {

  }

  @media (max-width: $md) {

  }

  @media (max-width: $sm) {

  }
}
