//grid
$xxsm: 374px;
$xsm: 459px;
$sm: 639px;
$md: 767px;
$lg: 1023px;
$xl: 1199px;
$xxl: 1399px;
$xxxl: 2400px;

//fonts
$font-1: 'Roboto';
//$font-1: 'Roboto', sans-serif;

//colors
$color-1: #3d3935;
$color-2: #fff;
$color-3: #bc204b;
$color-4: #f4f4f1;
$color-5: #989693;
$color-6: #e1e1de;
$color-7: #f1b828;

// timing
$time-sm: 300ms;
$time-md: 500ms;
$time-lg: 800ms;
$time-xl: 1100ms;
