.apply {
  &__inner {
    padding: 240px 0;
  }
  &__title {
    margin-bottom: 95px;
    font-size: 90px;
    line-height: (110/90);
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__form-wrap {

  }
}

.apply-form {
  form{
    position: relative;
    &.invalid{
      .wpcf7-response-output{
        color: $color-3;
      }
    }
    .wpcf7-form-control-wrap {
      display: block;
    }
    .wpcf7-not-valid-tip {
      position: absolute;
      top: calc(100% + 10px);
      left: 0;
      width: 100%;
      color: $color-3;
    }
    .wpcf7-response-output{
      margin: 0;
      padding: 0 0 0 38px;
      position: absolute;
      top: calc(100% - 60px);
      left: 320px;
      border: none;
      font-size: 30px;
      color: $color-9;
    }
    input[type='text'], input[type='email'], input[type='tel'], textarea {
      width: 100%;
      padding: 36px 0;
      font-size: 34px;
      border-bottom: 2px solid rgba(61, 57, 53, .2);
      &.wpcf7-not-valid  {
        border-bottom: 2px solid $color-3;
      }
    }
    input[type='submit']{
      width: 260px;
    }
    label {
      position: relative;
    }
  }
  &__row {
    margin-bottom: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &--files {
      margin-bottom: 89px;
    }
    &--checkboxes {
      .apply-form__col {
        margin-bottom: 48px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__col {
    width: 100%;
    label {
      width: 100%;
    }
    &--2 {
      width: calc(50% - 114px);
    }
    &--3 {
      width: calc(33.33% - 40px);
    }
  }
  &__label-inner {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 34px;
    transition: transform .3s ease-in-out;
    .active &{
      transform: translate(-15%, -65px) scale(.7);
    }
  }
  &__file-input-wrap {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    label {
      width: auto;
      position: unset!important;
    }
    .wpcf7-form-control-wrap{
      position: unset;
    }
    .wpcf7-not-valid-tip{
      text-transform: none;
    }
  }
  &__file-title {
    font-size: 34px;
    margin-right: 59px;
  }
  &__file-label {
    display: flex;
    align-items: center;
    color: $color-3;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    input {
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }
  }
  &__file-input-result {
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    width: 100%;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__checkbox{
    span.wpcf7-list-item {
      display: inline-block;
      margin: 0;
    }

    .wpcf7 .wpcf7-list-item {
      display: block;
      margin-bottom: 10px;
    }

    .wpcf7-checkbox label {
      position: relative;
      cursor: pointer;
    }

    .wpcf7-checkbox input[type=checkbox] {
      /*position: relative;*/
      position: absolute;
      visibility: hidden;
      width: 30px;
      height: 30px;
      top: 0;
      left: 0;
    }

    .wpcf7-checkbox input[type=checkbox] + span {
      /* border: 3px solid red; */
    }

    .wpcf7-checkbox input[type=checkbox] + span:before {
      display: block;
      position: absolute;
      content: '';
      width: 36px;
      height: 36px;
      border-radius: 12px;
      border: 2px solid $color-3;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }

    .wpcf7-checkbox input[type=checkbox] + span:after {
      display: block;
      position: absolute;
      content: "\2713";
      color: $color-3;
      height: 36px;
      width: 36px;
      top: 0;
      left: 0;
      visibility: hidden;
      font-size: 36px;
      text-align: center;
      line-height: 36px;
    }

    .wpcf7-checkbox input[type=checkbox]:checked + span:before {
      background: transparent;
    }

    .wpcf7-checkbox input[type=checkbox]:checked + span:after {
      visibility: visible;
    }

    .wpcf7-list-item-label {
      margin-left: 57px;
      display: inline-block;
      font-size: 28px;
      line-height: (38/28);
      a {
        color: $color-3;
      }
    }
  }
  &__footer{
    display: flex;
    align-items: center;
  }
  &__hidden {
    display: none;
  }
  &__required {
    color: $color-3;
  }
}