.job-hero{
  background-color: $color-4;
  &__inner{
    padding: 339px 0 170px;
    @media (max-width: $xxxl) {
      padding: 75px 0;
    }
    @media (max-width: $md) {
      padding: 35px 0;
    }

  }
  &__title{
    margin-bottom: 56px;
    font-size: 120px;
    font-weight: 300;
    @media (max-width: $xxxl) {
      font-size: 52px;
      margin-bottom: 30px;
    }
    @media (max-width: $md) {
      font-size: 35px;
      margin-bottom: 20px;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__description{
    margin-bottom: 60px;
    max-width: 1135px;
    font-size: 40px;
    line-height: (60/40);
    @media (max-width: $xxxl) {
      margin-bottom: 30px;
      max-width: 800px;
      font-size: 20px;
    }
    @media (max-width: $md) {
      margin-bottom: 20px;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__footer{
    display: flex;
    flex-wrap: wrap;
  }
  &__cta-wrap{
    margin-right: 119px;
    margin-bottom: 50px;
    @media (max-width: $xxxl) {
      margin-right: 40px;
      margin-bottom: 30px;
    }
    &:last-child{
      margin-right: 0;
    }
  }
  &__cities{
    display: flex;
    align-items: center;
    margin-right: 119px;
    margin-bottom: 50px;
    @media (max-width: $xxxl) {
      max-width: 60%;
      margin-right: 40px;
      margin-bottom: 30px;
    }
    @media (max-width: $md) {
      max-width: unset;
    }
  }
  &__technologies-list{
    display: flex;
    align-items: center;
    margin-right: 119px;
    margin-bottom: 50px;
    @media (max-width: $xxxl) {
      margin-right: 40px;
      margin-bottom: 30px;
    }
    .tags{
      &__item{
        margin-right: 23px;
        @media (max-width: $xxxl) {
          margin-right: 10px;
        }
        &:last-child{
          margin-right: 0;
        }
      }
      &__img{
        height: 70px;
        @media (max-width: $xxxl) {
          height: 35px;
        }
      }
    }
  }
  &__logo-wrap{
    margin-left: auto;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    @media (max-width: $xxxl) {
      margin-bottom: 30px;
    }
  }
  &__logo{
    height: 54px;
    @media (max-width: $xxxl) {
      height: 45px;
    }
  }
}