.pre-footer{
  position: relative;
  padding: 129px 0;
  background-color: $color-2;
  @media (max-width: $xxxl){
    padding: 80px 0 100px;
  }
  @media (max-width: $lg){
    padding: 60px 0 70px;
  }
  @media (max-width: $md){
    padding: 40px 0 50px;
  }
  &:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: $color-2;
    z-index: -1;
    transform: skewY(-1deg);
    transform-origin: 100% 100%;
  }
  &--gray{
    padding: 167px 0;
    background-color: $color-4;
    @media (max-width: $xxxl){
      padding: 80px 0 100px;
    }
    @media (max-width: $lg){
      padding: 60px 0 70px;
    }
    @media (max-width: $md){
      padding: 40px 0 50px;
    }
    &:before{
      background-color: $color-4;
    }
  }
  &__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @media (max-width: $md) {
      flex-direction: column;
    }
    .pre-footer--share &{
      justify-content: space-between;
    }
  }
  &__title{
    margin: 15px 0;
    padding: 0 30px;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    @media (max-width: $xxxl) {
      font-size: 28px;
      padding: 0 25px;
      margin: 8px 0;
    }
    @media (max-width: $md) {
      font-size: 16px;
      margin: 8px 0 15px;
    }
    .pre-footer--share &{
      font-size: 56px;
      padding: 0 30px 0 0;
      @media (max-width: $xxxl) {
        font-size: 28px;
        padding: 0 15px;
        margin: 8px 0;
      }
    }
  }
  &__cta{
    margin: 0 30px;
  }
  &__share-list{
    display: flex;
  }
  &__share-item{
    position: relative;
    height: 76px;
    margin-right: 16px;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
    @media (max-width: $xxxl){
      height: 40px;
      margin-right: 10px;
    }
    &:hover{
      opacity: .7;
    }
    &:last-child{
      margin-right: 0;
    }
    a{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__share-icon{
    height: 100%;
    display: block;
  }
}